graphical

%addon com_redhat_kdump --disable
%end

%packages
@^workstation-product-environment
ansible-core
%end

syspurpose --role="Red Hat Enterprise Linux Workstation" --sla="Self-Support" --usage="Development/Test"
rhsm --organization="{{rh_organization_id}}" --activation-key="{{rh_activation_key}}"

keyboard --xlayouts=us
lang en_US.UTF-8
timezone Europe/London --utc

part /boot/efi --onpart /dev/nvme0n1p1 --noformat
clearpart --linux --initlabel
part /boot --fstype=xfs --size=1024
part swap --fstype=swap --recommended
part / --fstype=xfs --grow

rootpw "{{user_password}}"
group --name=docker
user --groups="wheel,docker" --name="{{user_name}}" --password="{{user_password}}" --gecos="{{user_full_name}}"

firstboot --enable
selinux --disable
network --hostname=workstation --bootproto=dhcp --device=wlo1 --onboot=yes --activate

%pre --erroronfail --log=/mnt/sysimage/var/log/kickstart-pre.log
nmcli device wifi connect "{{network_name}}" password "{{network_password}}" ifname wlo1
%end

%post --nochroot --erroronfail --log=/mnt/sysimage/var/log/kickstart-post.log
mkdir -p /mnt/sysimage/etc/ansible/host_vars
cp /run/install/repo/vars.yml /mnt/sysimage/etc/ansible/host_vars/localhost
%end

%post --erroronfail --log=/var/log/kickstart-post.log
echo "localhost ansible_connection=local ansible_user={{user_name}}" > /etc/ansible/hosts
runuser -l "{{user_name}}" -c "ansible-galaxy collection install git+https://github.com/eugeniodepalo/workstation-collection.git"
%end
